 .body{
	margin:0;
	padding:0;
	background-image:url(background.jpeg);
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
}
.sign-up-form
{
	width:300px;
	box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.3);
	background:#fff;
	padding:50px;
	margin:10% auto 0;
	text-align:center;
}
	
	.sign-up-form h1
	{
		color: #1c8adb;
	padding:10px;
	margin:10px;
	width: 100%;
	
	
	outline:none;
	
	border:1px sold #999;
	}
	.input-box{
		padding:10px;
	margin:10px 0;
	width: 100%;
	
	outline:none;
	cursor:pointer;
	border-radius:20px;
	border:1px solid #999;
		
		
		
		
		
	}
	
	
	
	
	
	.button
	{
		color: #fff;
	padding:10px;
	margin:10px 0;
	width: 100%;
	font-size:15px;
	outline:none;
	
	border:none;
	border-radius:20px;
	}
	.signup-btn
	{ background-color:#1c8adb;
	padding:10px;
	margin:10px 0;
	width: 100%;
	
	outline:none;
	cursor:pointer;
	border-radius:20px;
	border:1px solid #999;
	}
	.twitter
	
	{background-color:#21afde;
		
	}
	.a{
		text-decoration:none;
	}
	
	.hr{
		margin-top:20px;
		width:80%
	}
	.or{
		background:#fff;
		width:30;
		margin:-19px auto 60px;
	}